.main {
    max-width: 1917px;
    background-color: #FFFDF4;
    padding: 80px;

    .main-card {
        max-width: 1529px;
        margin: 0 auto;

        .main-info {
            max-width: 519px;
            margin-bottom: 40px;

            .h1-title {
                font-weight: 400;
                font-size: 45px;
                line-height: 53px;
                margin-bottom: 20px;
            }

            .subtitle {
                font-weight: 400;
                font-size: 19px;
                line-height: 27px;
            }
        }

        .main-grid {
            max-width: 1529px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 23px;

            .main-item {
                max-width: 365px;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    margin-bottom: 18px;
                }

                .item-title {
                    margin-bottom: 6px;
                    position: relative;
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    .title {
                        position: relative;
                        font-size: 20px;
                        line-height: 25px;
                        color: #414F42;
                        cursor: pointer;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        z-index: 1;
                        left: 70%;
                        display: flex;
                        gap: 5px;
                        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateX(-10px);

                        p {
                            border-radius: 30px;
                            background-color: green;
                            font-size: 12px;
                            color: white;
                            padding: 5px;
                        }
                    }
                }

                .item-title:hover .dropdown-content {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }

                .item-subtitle {
                    width: 308px;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 24px;
                    margin-bottom: 6px;
                    color: #3F514B;
                }

                .price {
                    width: 85px;
                    display: flex;
                    gap: 6px;
                    margin-bottom: 20px;
                    align-items: center;

                    .old-price {
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 18px;
                        text-decoration: line-through;
                        color: #72776C;
                    }

                    .new-price {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 23px;
                        color: #3F514B;
                    }
                }

                .list-week {
                    max-width: 360px;
                    border-bottom: 1px solid #ECEDEC;

                    .week-item {
                        display: flex;
                        gap: 24px;
                        align-items: center;
                        border-top: 1px solid #ECEDEC;
                        padding: 11px 0;

                        .week-title {
                            line-height: 18px;
                            font-size: 15px;
                            font-weight: 400;
                            color: #72776C;
                        }

                        .week-content {
                            line-height: 24px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #4E5C58;
                        }
                    }
                }
            }
        }
    }

    // Tablet
    @media (max-width: 1024px) {
        padding: 40px;

        .main-card {
            max-width: 100%;

            .main-grid {
                grid-template-columns: repeat(2, 1fr); 

                .main-item {
                    max-width: 100%;
                }
            }
        }
    }

    // Mobile
    @media (max-width: 728px) {
        padding: 20px;

        .main-card {
            max-width: 100%;

            .main-grid {
                grid-template-columns: 1fr; 

                .main-item {
                    max-width: 100%;

                    .item-subtitle {
                        width: 100%;
                    }

                    .price {
                        width: auto;
                    }
                }
            }
        }
    }
    // mobile S
    @media (max-width: 320px) {
        .main-card {
            .main-grid {
                .main-item {
                    .item-title {
                        .title {
                            font-size: 16px;
                        }

                        .dropdown-content {
                            width: 280px;
                            padding: 10px;
                            gap: 3px;

                            p {
                                font-size: 10px;
                                padding: 3px; 
                            }
                        }
                    }

                    .item-subtitle {
                        font-size: 14px; 
                    }

                    .price {
                        gap: 3px; 
                        .old-price {
                            font-size: 12px; 
                        }

                        .new-price {
                            font-size: 14px;
                        }
                    }

                    .list-week {
                        .week-item {
                            gap: 10px; 
                            padding: 6px 0; 

                            .week-title {
                                font-size: 13px; 
                            }

                            .week-content {
                                font-size: 12px; 
                            }
                        }
                    }
                }
            }
        }
    }
}
